/************************* Layout *************************/
main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

/************************* Settings *************************/

.settings-container {
    padding: 10px 20px;
}

.settings-container ul li{
    list-style: none;
    border-bottom: 1px solid #d1d1d1;
}

.settings-container ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: inherit;
    margin-left: 5px;
    cursor: pointer;
}

.settings-container ul li svg{
    margin-right: 20px;
}

.settings h1{
    margin: 30px 0 0 30px;
}

.settings-container ul li:hover{
    background-color: #f9f9f9;
}


ul li form
{
    display: flex;
    align-items: center;
    gap: 10px;
}

/************************* edits *************************/
.logout-wrapper
{
    padding: 20px 0;
    cursor: pointer;
}
.hidden
{
    display: none;
    background-color: red;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.setting-link
{
    padding: 20px 0;
    cursor: pointer;
}
.arrow {
    transition: transform 0.3s ease;
}

.setting-link.active .arrow {
    transform: rotate(90deg);
}


/************************* MEDIA *************************/

@media (max-width: 1000px) {
    .settings h1{
        margin: 18px 0 10px 75px;
    }    

    main{
        grid-template-columns: 1fr;
    }

}