.logo
{
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 20px;
}
.upper-header
{
    display: flex;
    justify-content: space-around;
    background-color: #0f413a;
    padding: 10px 0;
    /* border: 1px blue solid; */
}
.lower-header
{
    border-radius: 0px 0px 20px 20px;
    background-color: #0f413a;
    height: 500px;
    color: white;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lower-header p
{
    width: 400px;
    font-size: 30px;
}
.header-container 
{
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.header-text h1
{
    color: #eee;
}
.header-text h6
{
    color: #eee;
    font-weight: 100;
}
.icons
{
    display: flex;
    align-items: center;
    /* border: green 2px solid; */
}
.icons a
{

    margin-right: 10px;
}
.icons a svg
{
    /* background-color: #1b6d62; */
    padding: 5px;
    border-radius: 50%;
}
nav
{
    margin-left: 30px;
}
nav ul 
{
    list-style: none;
    display: flex;
}
  nav ul li 
{
    margin-left: 20px;
}
nav ul li a 
{
    text-decoration: none;
    color: #eee;
}
  