header {
    padding: 5px 0;
}
/* Navigation */
.categorization ul {
    list-style: none;
    padding: 20px 20px;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #666;
   
}

.categorization ul li a{
    text-decoration: underline;
    color: #666;
}

.categorization ul li:not(:last-child)::after {
    content: " > ";
    margin-left: 10px;
    color: #aaa;
}

.categorization ul li:last-child a{
    color: #000000;
    font-weight: bold;
}

/* Product Section */
.product-section {
    padding: 20px;
}

.product {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

/* Product Image */
.product-img {
    flex: 1;
    text-align: center;
}

.product-img img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Product Info */
.product-info {
    flex: 1;
    padding-left: 30px;
}

.product-info h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.product-info h5 {
    font-size: 16px;
    color: #666;
    margin: 10px 0 5px;
}

/* Sizes */
.product-sizes button {
    background: #ddd;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.product-sizes button:hover {
    background: #aaa;
}

/* Description */
.product-description p {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
}

/* Price */
.product-price h2 {
    font-size: 24px;
    color: #333;
    margin-top: 5px;
}

/* Quantity Selector */
.product-quantity button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
}
.product-quantity span {
    margin: 0 10px;
    font-size: 18px;
}

/* Add to Cart Button */
.product-buttons button {
    background: #3b6048;
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.product-buttons button:hover {
    background: #253a2c;
}