/************************* Layout *************************/
main {
    display: flex;
    min-height: 100vh;
}

footer{
    margin: 0;
}

/************************* Sidebar *************************/
.sidebar {
    max-width: 250px;
    width: 20%;
    background: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    padding: 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    flex-grow: 1;
}

.sidebar ul li a.logout {
    color: red;
}


.close{
    position: absolute;
    right: 20px;
    display: none;
    cursor: pointer;
}

.sidebar.active{
    transform: translateX(0);
}


.sidebar-button{
    display: none;
    position: absolute; /* Makes it stay on top */
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}
/************************* Profile Section *************************/
.profile-container {
    /* display: flex; */
    padding: 40px;
    background: white;
}

.profile-content {
    /* display: flex; */
    width: 100%;
}

.profile-info {
    padding: 20px;
} 

.profile-info h5{
    color: gray;
}

.profile-info img.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 10px 0;
    border-top: 1px solid gray;
    padding: 20px 0 5px 0;
}

.profile-info-title a {
    font-size: 13px;
    color: blue;
}

.profile-info-title .contact-info {
    display: flex;
    gap: 10px;
}

.center{
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.profile-name {
    margin-top: 10px;
}


/* main content */
.main-content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
.statistic-element
{
    position: relative;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0f413a;
    color: #eee;
    border-radius: 20px;
    margin-top: 30px;
}
.statistic-element::before 
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
    mix-blend-mode: screen; /* Makes it glossy */
    pointer-events: none;
}
.statistic-container
{
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: left;
}

/************************* MEDIA *************************/
@media (max-width: 900px) {
    .sidebar {
        position: absolute;
        left: 0;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background: #f5f5f5;
        z-index: 20; /* Ensures it's above other elements */
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .sidebar.active{
        transform: translateX(0);
    }

    .sidebar.active.sidebar-button{
        display: none;
    }

    .sidebar-button{
        display: block;
    }

    .sidebar ul{
        padding-top: 40px;
    }


    .close{
        display: block;
    }
    
}
@media only screen and (max-width: 675px) 
{
    .main-content
    {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 450px) 
{
    .main-content
    {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 1150px) 
{
    .statistic-element
    {
        font-size: 18px;
        width: 250px;
        height: 100px;
    }
}
@media only screen and (min-width: 1500px) 
{
    .statistic-element
    {
        font-size: 20px;
        width: 350px;
        height: 150px;
    }
}
@media only screen and (min-width: 1700px) 
{
    .statistic-element
    {
        font-size: 25px;
    }
}