.cart-section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.cart-headings {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-headings div {
    flex: 1;
    text-align: left;
}

.cart-product-container {
    display: flex;
    align-items: center;
    background: #d1d1d1;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.left-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.actions {
    margin-top: 10px;
    display: flex;
    gap: 10px; 
}


.cart-product-container img {
    width: 90px;
    height: 90px;
    background: #ccc;
    border-radius: 8px;
    margin-right: 15px;
}

.cart-product-container h2 {
    flex: 2;
    font-size: 1.2rem;
    font-weight: bold;
}

.remove-item, .add-to-favorite {
    background: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.product-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.product-info div {
    margin-right: 15px;
}

/* .amount button {
    background: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
} */

.product-quantity button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
}

.cart-summary {
    background: #b3b3b3;
    padding: 300px 250px;
    border-radius: 10px;
    margin-top: 20px;
}

.cart-summary h1 {
    font-size: 20px;
    font-weight: bold;
}

.summary-info {
    margin-top: 10px;
    font-size: 18px;
}

.checkout-button {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}