*{
    margin: 0;
    padding: 0;
}
footer
{
    margin-top: 30px;
    background-color: #0f413a;
    font-size: 12px;
    font-weight: normal;
    background-color: #1E2D2F;
    font-weight: normal;
    color: #E0E0E0;
}
.map iframe
{
    border-radius: 20px;
}
.end
{
    text-align: center;
    background-color: #000000;
    padding: 20px 0;
    color: #ddd;
    font-size: 12px;
    font-weight: normal;
}

.map
{
    margin-right: 40px; /*Has pair margin-left on line 40*/
}
.upper-footer
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px 0;
}
.footer-container
{
    margin-left: 30px;
    background-color: #1E2D2F;
    border-radius: 20px;
    padding: 30px;
    width: 520px;
    height: 300px;

    display: flex;
    justify-content: space-between;
}
.about
{
    text-align-last: left;
    margin-top: 13px;
}
.support
{
    margin-top: 13px;
    text-align-last: left;
}
.web-name
{
    font-size: 25px;
}
.info-column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-column h2
{
    font-size: 40px;
}
.footer-container ul li
{
    list-style: none;
    line-height: 25px;
}
.footer-container ul
{
    margin-top: 20px;
}
.social-nws a
{
    text-decoration: none;
    margin-right: 5px;
}
.social-nws svg
{
    background-color: #B3C2BF;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
}


@media (max-width: 415px) {
    .map iframe {
        width: 100%;
        max-width: 800px;
        height: 300px;
    }
    .footer-container {
        font-size: 80%;
        
    }
    .info-column h2{
        font-size: 25px;
    }
    .social-nws svg{
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    .web-name{
        font-size: 20px;
    }
}

@media (max-width: 1050px) {
    .upper-footer {
        flex-direction: column; /* Stacks items vertically */
        align-items: center; /* Centers them */
        width: 100%;
        /* text-align: center; */
    }

    .footer-container {
        width: 100%;
        margin: 0;
    }

    .map {
        margin: 20px auto;
        text-align: center;
    }

    .map iframe {
        max-width: 800px;
        height: 300px;
    }
    
}